  <div class="gap-4 sm:gap-2 flex justify-between m-4 flex-col sm:flex-row">
    <div class="flex justify-between gap-2 sm:gap-4 flex-col sm:flex-row">
      <!-- FORM FOR NUMBER OF RECORDS -->
      <form class="flex p-1 bg-gray-200 rounded w-[182px]">
        <label for="records">No. of Records</label>
        <select class="px-1 rounded" [ngModel]="n" (ngModelChange)="select_records($event)" id="records" name="records">
          <option value="5">5</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </form>
  
      <!-- PREVIOUS AND NEXT BUTTONS -->
      <div class="flex gap-2 pt-1">
        <!-- PREVIOUS BUTTON -->
        <app-btn-prev *ngIf="!prev_loading; else prev" (click)="subtract()"></app-btn-prev>
        <ng-template #prev><app-btn-prev [disabled]="true"></app-btn-prev></ng-template>
  
        <!-- NEXT BUTTON -->
        <app-btn-next *ngIf="!next_loading; else next" (click)="add()"></app-btn-next>
        <ng-template #next><app-btn-next [disabled]="true"></app-btn-next></ng-template>
      </div>
    </div>

    <!-- FORM FOR SEARCH -->
    <div class="flex gap-2 items-center"> <!-- Added items-center class -->
      <form [formGroup]="search_text_form" class="flex p-1 bg-gray-200 rounded gap-1"> <!-- Removed unnecessary pl-2 and width classes -->
        <input type="text" class="p-1 outline-none" placeholder="Search" formControlName="search_text">
        <button (click)="search_by_text()" class="flex items-center justify-center p-1 rounded-md bg-blue-500 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
        </button>
      </form>
      <app-btn-refresh class="pt-1" (click)="refresh()"></app-btn-refresh>
    </div>
  </div>
  
  <!-- THE TABLE -->
  <div class="table-section font-sans m-4 h-[100vh]">
    <table>
      <thead>
        <tr>
          <th>S.No.</th>
            <th *ngFor="let header of incoming_table_headers_values">{{ header }}</th>
        </tr>
      </thead>
      <tbody *ngIf="!loading_table; else loading">
        <tr *ngIf="table_records.length == 0 && !loading_table; else main_body">
          <td colspan="100">
            <span>{{custom_not_found}}</span>
          </td>
        </tr>
        <ng-template #main_body>
          <tr *ngFor="let record of table_records">
            <td *ngIf="s_no" class="font-semibold italic">
              {{ table_records.indexOf(record) + 1 + offset }}.
            </td>
            <td *ngFor="let header of incoming_table_headers_keys">
              {{record[header]}}
            </td>
          </tr>
        </ng-template>
      </tbody>
  
      <!-- LOADING SPINNER -->
      <ng-template #loading>
        <tbody>
          <tr>
            <td colspan="100">
              <div role="status">
                <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
                <span class="sr-only">Loading...</span>
              </div>
            </td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>